<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
   <!--<add name="MicrobrewitApiContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=MicrobrewitApiContext; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|MicrobrewitApiContext.mdf" providerName="System.Data.SqlClient" />-->
    <add name="MicrobrewitContext" connectionString="Data Source=WIN-O7UCKU1VGQN\SQLEXPRESS;Initial Catalog=Microbrewit;Integrated Security=True;MultipleActiveResultSets=True;Unicode=True" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
        <add key="api" value="microbrewit.asphaug.io" />
  </appSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>